.title {
  margin-top: 20px;
  text-align: center;
}

/* .videoWrapper {
  display: flex;
}

.videoDesc {
  width: 49%;
}

.videoLink {
  display: flex;
  width: 49%;
}
.videoTitle {
  display: flex;
  width: 49%;
} */
